<a href="https://colab.research.google.com/github/jjaha99/ufo_sightings/blob/main/kaggle_dataanalysis_ufosightings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

os.makedirs("data", exist_ok=True)
os.makedirs("outputs", exist_ok=True)
os.makedirs("figures", exist_ok=True)

print("Folders created:", os.listdir())

Folders created: ['.config', 'figures', 'data', 'outputs', 'sample_data']

In [2]:
import kagglehub
path = kagglehub.dataset_download("NUFORC/ufo-sightings")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/NUFORC/ufo-sightings?dataset_version_number=2...

100%|██████████| 10.2M/10.2M [00:00<00:00, 100MB/s]

Extracting files...

In [3]:
import shutil

shutil.copy(
    os.path.join(path, "scrubbed.csv"),
    "data/ufo_scrubbed.csv"
)

os.listdir("data")

['ufo_scrubbed.csv']

In [4]:
import pandas as pd
df = pd.read_csv("data/ufo_scrubbed.csv")
df.head()

/tmp/ipython-input-651775536.py:2: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/ufo_scrubbed.csv")

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611